/**Responsive for main container width**/

@media (min-width: 480px) {
	.container-fluid {
		width: 320px;
		max-width: 100%;
	}
}

@media (min-width: 576px) {
	.container-fluid {
		width: 540px;
		max-width: 100%;
	}
}

@media (min-width: 768px) {
	.container-fluid {
		width: 720px;
		max-width: 100%;
	}
}

@media (min-width: 992px) {
	.container-fluid {
		width: 960px;
		max-width: 100%;
	}
}
@media (min-width: 1200px) {
	.container-fluid {
		width: 1140px;
		max-width: 100%;
	}
}
@media (max-width:767px)
{

}